:root {
    --main-color: #000000;
    --main-background-color: #ffffff;
    --fallback-background-color: #fff;
    --link-color: #005c89;
}

body {
    color: var(--main-color);
    background-color: var(--main-background-color);
}
