.BlogHeader {
    text-align: right;
}
.BlogPost {
    min-width: 70%;
    text-align: left;
}

pre code {
    font-family: monospace;
}

pre {
    padding: 1em 1.3em;
    background-color: #e8e8e8;
    border-radius: 2px;
}
